

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body, html{
    font-family:  'Montserrat', Arial, Helvetica, sans-serif;
    background-image: url(../images/INICIO2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    top: 0;
    left: 0;
}
/* RESET CSS */

html body {
    margin: 0;
    height: 100%;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  h2{
    padding-left: 1em;
    margin-right: 1em;
  }

  /*quitar estilo a los enlaces*/
  a {
    color: initial;
    text-decoration: none;
  }

/*NAVEGADOR*/
.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:initial;
    height: 3em;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    z-index: 1;
    margin-top: 0;
    padding-top: 0;
}

nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

nav a{
    padding: 2px 7px 2px 7px;
}

.nav-menu__item{
    margin: 0 1rem;
    overflow: hidden;
    background-color: rgb(255, 255, 255, 0.85);
    text-decoration: none;
}
li a{
    color: black;
}
li a:hover{
    font-size: 150%;
}

/*ocultar cuadrado seleccionador*/
#menu-toggle {
    display: none;
}

#icon-home:hover {
    cursor: pointer;
    outline: 0;
}
/*ICONOS*/

.icon-home {
    width: 3em;
    padding-right: 1.5em;
}
.firma{
    width: 20em;
    margin-left: 1em;

}

.menu-button-container {
    display: flex; 
}

.nav-menu {
    position: absolute;
    top: 2.1em;
    left: 0;
    width: 100vw;  
}
.nav-menu__item {
    text-decoration: none;
    font-weight: bold;
}

.nav-menu>ul {
    display: flex;
    flex-direction: column;
}
#menu-toggle~.nav-menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked~.nav-menu li {
    height: 3em;
    padding: 0.6em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.nav-menu>li {
    display: flex;
    margin: 0;
    padding: 1em 0;
    width: 50%;
}

/*fin del navegador*/


/*----ARTISTA---*/
#titulo{
    padding-top: 4em;
}

/*imagenes sobre mi*/
body, html:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(250, 250, 250, 0.2);
    width: 100%;
    height: 100%;
    z-index: -1
  }
  h1 {
    width: 100%;
    margin: 40vh 0 3vh 2vh;
    font-weight: 100;
    transition:all 0.4s;
    font-size: 3em;
   
  }
  h1:hover{
    color:rgb(68, 29, 13);
    font-weight: 800;
  }
  i, b {
    display: block;
    width: 100%;
    margin-bottom: 4vh;
    font-size:1em;
    margin-left: 2vh;
  }

  .fa {
    display: inline-block;  
    text-decoration: none;
    padding-top: 12px;
    width: 2em;
    height: 2em;
    text-align: center;
    box-sizing: border-box;
    margin-left: 2em;
    transition: all 0.4s;
  }
  

  #facebook {
    background-image: url('../images/facebook.svg'); /* Ruta a tu imagen de icono */
    background-size: cover; /* Ajustar el tamaño del icono */
  }

  #insta {
    background-image: url('../images/instagram.svg'); /* Ruta a tu imagen de icono */
    background-size: cover; /* Ajustar el tamaño del icono */
  }
  .fa:hover { 
    filter: invert(100%);
    background: rgba(241, 239, 99, 0.8);
    border-radius: 20%; 
  }
  .fa:nth-of-type(2):hover {
    filter: invert(100%);  
    background: rgba(43, 219, 190, 0.8); 
    border-radius: 20%; 
  }
  
  
/*final*/
footer{
    text-align:right;
    bottom: 0;
    color: black;
    padding-left: 2em;
    margin-bottom: 2em;
    position: fixed;
}

/*MOBIL*/
@media (max-width:768px) {
    footer{
        font-size: 70%;
        padding-right: 1em;
    }
    html{
        background-image: url(../images/INICIO2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        max-height: 100%;
        max-width: 100%; /* Esto asegura que el ancho no supere el tamaño del contenedor */
        max-height: 100%;
    }
    .topbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 3em;
        padding: 0;
        padding-left: 1em;
        width: 100%;
        transition: background-color 0.3s ease-in-out;
        z-index: 1;
    }
    .nav-menu__button>img {
        max-width: 100%; /* Esto asegura que el ancho no supere el tamaño del contenedor */
        max-height: 100%; /* Esto asegura que la altura no supere el tamaño del contenedor */
      }
    .flexbox{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1em;
    }
    .texto{
        flex: 2;
    }
    div.text2{
        padding: 1em;
    }
    .firma{
        width: 20em;
        margin: 0;
        padding: 0;
    }

}