

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    font-family:  'Montserrat', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
  }
/* RESET CSS */

html body {
    margin: 0;
    height: 100%;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  h2{
    padding-left: 1em;
    font-size: 1.7em;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #titulo{
    padding-top: 4em;
}
  p{
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
    margin-top: 0;
    width: 90%;
  }

  /*quitar estilo a los enlaces*/
  a {
    color: initial;
    text-decoration: none;
    margin: 0;
  }
  .texto{
    padding: 2em;
  
  }
  .description{
    font-size: 1.2em;
  }

/*NAVEGADOR*/
.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 3em;
    padding: 10px;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    z-index: 1;
}

nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

nav a{
    padding: 2px 7px 2px 7px;
}

.nav-menu__item{
    margin: 0 1rem;
    overflow: hidden;
    background-color: rgb(228, 222, 222, 0.85);
    text-decoration: none;
}
li a{
    color: black;
}
li a:hover{
    font-size: 150%;
}

/*ocultar cuadrado seleccionador*/
#menu-toggle {
    display: none;
}

#icon-home:hover {
    cursor: pointer;
    outline: 0;
}
/*ICONOS*/

.icon-home {
    width: 3em;
    padding-right: 1.5em;
}
.firma{
    width: 20em;
    margin-left: 1em;
}

.menu-button-container {
    display: flex; 
}

.nav-menu {
    position: absolute;
    top: 2.1em;
    left: 0;
    width: 100vw;  
}
.nav-menu__item {
    text-decoration: none;
    font-weight: bold;
}

.nav-menu>ul {
    display: flex;
    flex-direction: column;
}
#menu-toggle~.nav-menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked~.nav-menu li {
    height: 3em;
    padding: 0.6em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.nav-menu>li {
    display: flex;
    margin: 0;
    padding: 1em 0;
    width: 50%;
}

/*fin del navegador*/

/*--LIGHT SLIDER--*/

ul {
  list-style: none outside none;
  padding-left: 0;
  margin-bottom:0;
}
li {
  display: block;
  float: left;
  margin-top: 0;
  margin-right: 6px;
  cursor:pointer;
}
#slider{
    max-width: 60%; /* Ancho máximo del contenedor */
    margin: 0 auto; 
}
li>img {
  max-width: 100%;
  max-height: 100%;
  height: auto; /* Ajustar la altura proporcionalmente */
  display: block; /* Eliminar espacios debajo de las imágenes */
  margin: 0 auto; /* Centrar horizontalmente */
}
.lSGallery li {
  height: 4em; /* Altura de cada miniatura */
  align-items: center;
  overflow: hidden; /* Ocultar contenido que exceda el tamaño */
}

.lSGallery img {
  width: 100%; /* Hacer que las imágenes en miniatura ocupen todo el espacio disponible */
  height: 100%; /* Ajustar la altura proporcionalmente */
  object-fit: cover; /* Ajustar la imagen para cubrir completamente el área de la miniatura */
}


.lSAction > .lSPrev {
  background-image: url("../images/arrow-prev.svg");
  background-position: left center;
  background-size: contain;
  /* Agregar estilos adicionales según sea necesario */
}

.lSAction > .lSNext {
  background-image: url("../images/arrow-next.svg");
  background-position: right center;
  background-size: contain;
  /* Agregar estilos adicionales según sea necesario */
}


/*--FLECHA--*/
.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    z-index: 999;
    opacity: 0.7;
    transform: scale(0); /* Agregamos una escala inicial de 0 para que esté oculto */
    transition: transform 0.3s ease; /* Añadimos una transición para la animación */
  }

  .scroll-to-top.show {
    display: block;
    transform: scale(1); /* Escala de 1 para mostrar el botón completo */
  }


/*final*/
footer{
    font-size: 80%;
    bottom: 0;
    color: black;
    padding-left: 2em;
    margin-bottom: 2em;
    position: relative;
}

/*MOBIL*/
@media (max-width:768px) {
    footer{
        font-size: 70%;
        padding-right: 1em;
    }

    .topbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        /*background-color: #e6dfcb;*/
        height: 3em;
        padding: 0;
        padding-left: 1em;
        width: 100%;
        transition: background-color 0.3s ease-in-out;
        z-index: 1;
        max-width: 100%;
        max-height: 100%;
    }
    .nav-menu__button>img {
        max-width: 100%; /* Esto asegura que el ancho no supere el tamaño del contenedor */
        max-height: 100%; /* Esto asegura que la altura no supere el tamaño del contenedor */
      }
      .firma{
        width: 90%;
        margin: 0;
        padding: 0;
        max-width: 100%;
        max-height: 100%;
    }

    .texto{
      width: 90%;
    }

    #slider{
      max-width: 100%; /* Ancho máximo del contenedor */
      margin: 0; 
  }


}